<!DOCTYPE html>
<html>
  <head>
   <title>YumYum</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/styles/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/styles/styles.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/materialize.js"></script>
    <!-- Font indie Flower-->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!-- APPLICATION SCRIPTS -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxLEpfLwX0-0pnPsecmxAlwZQmlPe4tCU">
    </script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxLEpfLwX0-0pnPsecmxAlwZQmlPe4tCU"></script> -->
    <script src="/scripts/app.js"></script>


  </head>


  <body>
  <!-- Navbar -->
  <div  id="foodheader" >
    <nav class="transparent lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Yum-Yum SF</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Local Trucks</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Local Trucks</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>



    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 id='intro' class="header center orange-text">Yum-Yum SF </h1>
        <div class="row center">
          <h5 class="header col s12 light">Time to order?</h5>
        </div>


        <div class="row center">
          <div class="row">
            <form class="col 12">
              <div class="row">
               <!--  <div class="input-field col s6">
                  <input placeholder="Truck Name" id="truck_name" type="text" class="validate">
                  <label for="truck_name">Truck Name</label> -->
              <!--   </div>
                <div class="input-field col s6">
                  <input id="truck_city" type="text" class="validate">
                  <label for="truck_city">San Francisco</label>
                </div> -->

              </div>
            </form>
            <a href="#" id="download-button" class="btn-large waves-effect waves-light black">Find Truck</a>
          </div>






        </div>
        <br><br>
      </div>
    </div>


<!-- Currently used for spacing and remove templates may not need though as site develops  -->
    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons"></i></h2>
              <h5 class="center"></h5>
              <p class="light"></p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons"></i></h2>
              <h5 class="center"></h5>

              <p class="light"></p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons"></i></h2>
              <h5 class="center"></h5>

              <p class="light"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>




<!-- Where the trucks that are in the database will append to .. or newly created trucks -->
 <div class="col row" >
 <div id="trucks"> </div>

</div>



<!-- Truck form input section for adding a truck -->
<section id='truck-form'  class="col s12 truck-bg">

  <div class="row save">
    <!-- This form has to submit normally, not with AJAX, to get the image upload working.-->
    <form id="form" class="col s12" method="POST" action="/api/foodtruckresults" encType="multipart/form-data">
     <!-- Truck Name  -->
      <div class="row">
        <div class="input-field col s6 offset-s3 valign">
          <input name='name' placeholder="Truck Name" id="truck_name" type="text" class="validate">
          <label for="truck_name">Truck Name</label>
        </div>
      </div>
    <!-- About Truck  -->
      <div class="row" >
        <div class="input-field col s6 offset-s3 valign">
          <input name='aboutTruck' placeholder="History of Truck" id="about_truck" type="text" class="validate">
          <label for="about_truck">About Truck</label>
        </div>
      </div>
    <!-- Truck Address  -->
      <div class="row">
        <div class="input-field col s6 offset-s3 valign">
          <input name='address' placeholder="Enter prime location or stop address" id="truck_address" type="text" class="validate">
          <label for="truck_address">Truck Address</label>
        </div>
      </div>
    <!-- Phone Number  -->
      <div class="row">
        <div class="input-field col s6 offset-s3 valign">
          <input name='phoneNumber' placeholder="Please enter phone number" id="truck_phonenumber" type="tel" class="validate">
          <label for="number">Phone Number</label>
        </div>
      </div>
    <!-- Food Type -->
      <div class="row">
        <div class="input-field col s6 offset-s3 valign">
          <input name='typesOfFood' placeholder="PLease enter style or types of food served" id="truck_foodtype" type="text" class="validate">
          <label for="truck_foodtype">Food Type</label>
        </div>
      </div>
      <!-- Truck Price  -->
       <div class="row">
        <div class="input-field col s6 offset-s3 valign">
          <input name='dollarValue' placeholder="Average price of food" id="truck_prices" type="text" class="validate">
          <label for="truck_prices">Truck Prices</label>
        </div>
      </div>
     <!-- Single Logo File Upload  -->
    <div class="row">
      <div class="file-field input-field col s6 offset-s3 valign">
        <div class="btn up-load">
          <span>File</span>
          <input type="file" name="logo" class="logo-uploader">
        </div>
        <div class="file-path-wrapper">
          <input name='logo' id='trucklogo' class="file-path validate" type="text" placeholder="Upload company logo">
        </div>
      </div>
    </div>
    <!-- Multiple file upload  -->
    <div class="row">
      <div class="file-field input-field col s6 offset-s3 valign">
        <div class="btn up-load">
          <span>File</span>
          <input type="file" name='image' multiple>
        </div>
        <div class="file-path-wrapper">
          <input name='image' id='truck_images' class="file-path validate" type="text" placeholder="Upload images of company food">
        </div>
      </div>
        <div class='truck-footer' >
          <!-- The save changes button will be toggled  -->
            <div class="row">
            <div class="col s6 offset-s5 valign">
              <button  class='btn btn-info  save-truck' type="submit" >Submit</button>
              </div>
            </div>
        </div>
    </div>
  </form>
</div>
</section>
<!-- Truck form Ends  -->

<!-- Resturants Modal  -->

<!--   <div class="row" >
  <div class="center-align" >
  <div class="col s4 ">
    <div id="trucks"> </div>
  </div>
</div>
</div> -->






  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Truck Info</h4>


      <form id="edit-truck-form">


      </form>
    </div>
    <div class="modal-footer">

      <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Save Changes</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Edit Logo</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Delete Truck</a> -->

      <form id="edit-truck-form">
      </form>
    </div>
    <div class="modal-footer">

    </div>
  </div>

 <div id='overlay-for-reviews'>
    <div id='read-review-title'></div>
      <div id='adding-review'></div>
  </div>

  <div id='write-review'></div>



<!-- The start of the footer  -->
 <footer class="page-footer black">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">About M.O.W</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Meals On Wheels  Copyright 2017</a>
        </div>
      </div>
    </footer>
<!-- End of footer content -->

































  <div id='overlay-for-reviews'>
    <div id='read-review-title'></div>
      <div id='adding-review'></div>
      <div class="row">
        <div class='col s1'></div>
          <div id='delete-button-div'>
        </div>
      </div>

  </div>

  <div id='write-review'></div>


  <h3>My Google Maps Demo</h3>
  <div class="row">
    <div class='col s1'></div>
    <div class='col s10'>
      <div id="map"></div>
      </div>
    <div class='col s1'></div>
    </div>


</body>
</html>
