

/*split of text animation */
body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white; /* Sanity Check! */

}
.myCSS {
  overflow: hidden;
}
h1 {
  margin-top: 100px;
  text-align: center;
}


#foodheader {

	max-width: 100%;
}

.btn {
  width: 24%;
  letter-spacing: 0px;
  padding: 0 0rem;

}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#foodheader {
	background-image: url("../images/food_truck/foodheader.jpg");
	background-size: cover;
	background-color: white;
 
}



.img-responsive {
    width:100%;
}
body {
  background-image: url("../images/food_truck/streetheader.jpg");
  background-size: 100%;

}
.row .col.s12, .col.s10, .review-header-name {
color: white;
}
.col.s10 {
  padding: 10px;
}
#intro {
  font-family: 'Indie Flower', cursive;
   /* -webkit-text-stroke: .5 white;*/
    font-weight: bold;
}


#overlay-for-reviews {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: scroll;
    background-color:rgba(0,0,0,0.85);
    z-index:9999;
    margin: auto;
}

#read-review-title {
  padding: 10px;
  color: white;
}

.review-information-info {
  border-style: solid;

}

/*.review-image-src {
  max-width: 50%;
}*/


.review-image-div {
  margin-top: 2%;
}
.save-truck, .up-load {
  border: 1px solid white;
  background-color: transparent;
}
.save-truck:hover, .up-load:hover {
  background-color: white;
  color: black;
}

/*div.card-content {
  background-color: blue ;
}*/
.card.medium {
  background-color: rgba(78,78,78, .6);
  border: 1px solid white;
  color: white;
}
.card-content {
   border: 1px solid white;
}

.reviews-userName {
  font-size: 150%;
  font-weight: bold;
}

#map {
  height: 400px;
  width: 100%;
 }
